<%- include('./include/head.ejs')%>
<style>
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #f1f2f7;
  }
  .header {
    text-align: center;
  }
  .btn1 {
            display: inline-block;
            font-weight: 600;
            line-height: 1.5;
            font-size: medium;
            color: #212529;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            color: inherit;
            border: 1px solid transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            padding: .75rem .75rem;
            font-size: 1.3rem;
            border-radius: .25rem;
            /* margin-left: 82rem; */
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

          }
  .btn-outline-success:hover {
            color: #fff;
            background-color: #198754;
            border-color: #198754;
          }

          .btn-outline-danger:hover {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
          }

          navbar>.container,
          .navbar>.container-fluid,
          .navbar>.container-lg,
          .navbar>.container-md,
          .navbar>.container-sm,
          .navbar>.container-xl,
          .navbar>.container-xxl {
            display: flex;
            flex-wrap: inherit;
            align-items: center;
            justify-content: center;
            text-align:center;
          }

          .container,
          .container-fluid,
          .container-lg,
          .container-md,
          .container-sm,
          .container-xl,
          .container-xxl {
            width: 100%;
            padding-right: var(--bs-gutter-x, .75rem);
            padding-left: var(--bs-gutter-x, .75rem);
            margin-right: auto;
            margin-left: auto;
          }

          .navbar {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding-top: .5rem;
            padding-bottom: 2rem;

          }
          .bg-primary {
            --bs-bg-opacity: 1;
            background-color: #0d6efd !important;
          }

          .btn-outline-primary:hover {
            color: #000;
            background-color: #31d2f2;
            border-color: #25cff2;
          }



          .navbar-brand {
            color: black;
            font-size: 3rem;
            line-height:0.9;
            margin:auto;
          }
          .log{
            margin-right:0;
            margin-left:auto;
          }

</style>
<title>Admin</title>
</head>

<body>
  <%- include('./include/navBarForAdmin.ejs')%>
<div>
  <div  class="header"><h1>Pending Requests</h1></div>

    <div class="container">

      <div class="row">
        <% if(requests.length>0){ %>
        <% for (var i=requests.length-1; i>=0; i--) { %>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="panel">
            <div class="panel-body">
              <div class="bio-chart">
                <!-- <div style="display:inline;width:100px;height:100px;"><canvas width="100"
                    height="100px"></canvas><input class="knob" data-width="100" data-height="100"
                    data-displayprevious="true" data-thickness=".2" value="35" data-fgcolor="#e06b7d"
                    data-bgcolor="#e8e8e8"
                    style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(224, 107, 125); padding: 0px; -webkit-appearance: none; background: none;">
                </div> -->
              </div>
              <div class="bio-desk">

                <p>User : <%=requests[i].bookedby.name%>
                </p>
                <p>User's Rollno: <%=requests[i].bookedby.rollNo%>
                </p>
                <p>Date : <%=requests[i].Date.toLocaleString()%>
                </p>
                <p>Reason:  <%= requests[i].reason%>
                </p>
                <p>Status: <%= requests[i].status%>
                </p>
                <a class="delete" data-id="<%= requests[i]._id %>" href="/request/admin/<%= requests[i]._id %>/accepted"><button type="button"
                    class="btn btn-outline-success">Accept</button></a>
                <a class="delete" data-id="<%= requests[i]._id %>" href="/request/admin/<%= requests[i]._id %>/rejected"><button type="button"
                    class="btn btn-outline-danger">Reject</button></a>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>

  </div>
</div>
</div>
<% } else {%> <div class="alert alert-info text-center" role="alert">
          No pending request to show
        </div> <%}%>
</div>
</div>


</body>

</html>
