<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Gate Pass | Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link
      href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>

  <body>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <div class="container bootstrap snippets bootdey">
      <%- include('./include/appBar.ejs')%>
            <div class="panel-body bio-graph-info">
              <h1>Bio Data</h1>
              <div class="row">
                <div class="bio-row">
                  <p><span>Name </span>: <%=user.name%></p>
                </div>
                <div class="bio-row">
                  <p><span>Hostel </span>: <%=user.hostel%></p>
                </div>
                <div class="bio-row">
                  <p><span>Roll No</span>: <%=user.rollNo%></p>
                </div>
                <div class="bio-row">
                  <p><span>Branch</span>: <%=user.branch%></p>
                </div>
                <div class="bio-row">
                  <p><span>Mobile</span>: <%=user.phoneNo%></p>
                </div>
                <div class="bio-row">
                  <p><span>Room No </span>: <%=user.roomNo%></p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="row">
              <% for (var i=user.requests.length-1; i>=0; i--) { %>
              <div class="col-md-6">
                <div class="panel">
                  <div class="panel-body">
                    <div class="bio-chart">
                      <!-- <div style="display:inline;width:100px;height:100px;"><canvas width="100"
                          height="100px"></canvas><input class="knob" data-width="100" data-height="100"
                          data-displayprevious="true" data-thickness=".2" value="35" data-fgcolor="#e06b7d"
                          data-bgcolor="#e8e8e8"
                          style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(224, 107, 125); padding: 0px; -webkit-appearance: none; background: none;">
                      </div> -->
                    </div>
                    <div class="bio-desk">
                      <!-- <h4 class="red">Serial: <%=user.requests[i].serialNo%>
                      </h4> -->
                      <p>Date : <%=user.requests[i].Date.toLocaleString()%></p>
                      <p>Reason: <%= user.requests[i].reason%></p>
                      <p>
                        Status: <%= user.requests[i].status%>
                        <span>
                          <% if(user.requests[i].status==="pending"){ %>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            style="color: #ec0b30"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-exclamation-square-fill"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                            />
                          </svg>
                          <% } else {%><svg
                            xmlns="http://www.w3.org/2000/svg"
                            style="color: #4eeb2f"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-check-circle-fill"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
                            /></svg
                          ><%}%></span
                        >
                      </p>
                      <a class="delete" data-id="<%= user.requests[i]._id %>"
                        ><button type="button" class="btn btn-outline-danger">
                          delete
                        </button></a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./include/end.ejs')%> 
    <script type="text/javascript">
      const del = document.querySelector("a.delete");
      del.addEventListener("click", (e) => {
        const endpoint = `/request/delete-request/${del.dataset.id}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
